<div class="container">
	<!-- Template for the main page an HR admin would see. It displays the Salesmen admin accounts that are available, and has an option to add more. -->
	<p>
		<h3>
			Master Overlord, oh great Superuser, welcome back.
		</h3>	
	</p>
	<p>
		Aquí podrás ver a los empleados registrados como Vendedores, y remover o agregar empleados a la lista.
<!-- 		<br/>
		<button ng-click="logout()" class="btn btn-default">Cerrar sesión</button>
		<br/> -->
	</p>
	<p>
		<h4>Información de los administradores</h4>
		<button ng-click="showAdmins()" class="btn btn-default">Refrescar</button>
		<br/>
		<br/>
		<table class="table">
			<tr>
				<th><a ng-click="filterOptions('name')">Nombre</a></th>
				<th><a ng-click="filterOptions('lastName')">Apellidos</a></th>
				<th><a ng-click="filterOptions('email')">Email</a></th>
				<th><a ng-click="filterOptions('role')">Rol</a></th>
			</tr>
			<tr ng-repeat="admin in admins | orderBy: filterOption">
				<td>{{admin.name}}</td>
				<td>{{admin.lastName}}</td>
				<td>{{admin.email}}</td>
				<td>{{admin.role}}</td>
			</tr>
		</table>
	</p>
	<p>
		Acciones posibles:
		<ul>
			<li>Agregar vendedor</li>
			<li>Modificar vendedor</li>
			<li>Dar de baja vendedor</li>
			<li>Agregar admin de R.H.</li>
			<li>Modificar admin de R.H.</li>
			<li>Dar de baja admin de R.H.</li>
		</ul>
	</p>
	<!-- Superuser rights for superuser -->
	<p>
		<h4>Agregar admin</h4>
		<form name="addAdminForm" novalidate>
			Nombre: <input type="text" name="new_name" ng-model="new_name" ng-required="true" class="form-control" />
			<span class="error-message" ng-show="addAdminForm.new_name.$dirty && addAdminForm.new_name.$error.required">
				El nombre es necesario.
			</span> <br/>
			Apellidos: <input type="text" name="new_lastName" ng-model="new_lastName" ng-required="true" class="form-control" />
			<span class="error-message" ng-show="addAdminForm.new_lastName.$dirty && addAdminForm.new_lastName.$error.required">
				Los apellidos son necesarios.
			</span> <br/>
			Email: <input type="text" name="new_email" ng-model="new_email" ng-required="true" class="form-control" />
			<span class="error-message" ng-show="addAdminForm.new_email.$dirty && addAdminForm.new_email.$error.required">
				El email es necesario.
			</span> <br/>
		  	<input type="radio" name="new_role" ng-model="new_role" value="Ventas" checked> Ventas 
		  	<input type="radio" name="new_role" ng-model="new_role" value="Recursos Humanos"> Recursos Humanos 
		  	<input type="radio" name="new_role" ng-model="new_role" value="Super User"> Súperusuario
		  	<br/>
			<!-- Rol: <input type="text" name="new_role" ng-model="new_role" ng-required="true" class="form-control" />
			<span class="error-message" ng-show="addAdminForm.new_role.$dirty && addAdminForm.new_role.$error.required">
				El rol es necesario (Ventas, Recursos Humanos, Super Usuario).
			</span> --> <br/>
			Contraseña: <input type="password" name="new_password" ng-model="new_password" ng-required="true" class="form-control" />
			<span class="error-message" ng-show="addAdminForm.new_password.$dirty && addAdminForm.new_password.$error.required">
				La contraseña es necesaria.
			</span>
		</form>
		<br/>
		<button ng-click="addAdmin(); showAdmins()" class="btn btn-primary">Agregar</button> {{addAdminStatus}}
	</p>
	<p>
		<h4>Modificar admin</h4>
		<form name="modifyAdminForm" novalidate>
			Email: <input type="text" name="adminEmailToModify" ng-model="adminEmailToModify" ng-required="true" class="form-control" />
			<span class="error-message" ng-show="modifyAdminForm.adminEmailToModify.$dirty && modifyAdminForm.adminEmailToModify.$error.required">
				El email es necesario para saber a qué cuenta se le harán modificaciones.
			</span> <br/>
			Nombre: <input type="text" name="existing_name" ng-model="existing_name" class="form-control" /> <br/>
			Apellidos: <input type="text" name="existing_lastName" ng-model="existing_lastName" class="form-control" /> <br/>
			Rol: <input type="text" name="existing_role" class="form-control" /> <br/>
			Contraseña: <input type="password" name="existing_password" ng-model="existing_password" class="form-control" /> <br/>
		</form>
		<button ng-click="modifyAdmin(); showAdmins()" class="btn btn-warning">Modificar</button> {{modifyAdminStatus}}
	</p>
	<p>
		<h4>Dar de baja admin o cliente</h4>
		<!-- delete Admin -->
		<form name="deleteAdminForm" novalidate>
			Admin: <input type="text" name="adminEmailToDelete" ng-model="adminEmailToDelete" ng-required="true" class="form-control"/>
			<span class="error-message" ng-show="deleteAdminForm.adminEmailToDelete.$dirty && deleteAdminForm.adminEmailToDelete.$error.required">
				Por favor introduzca el email del admin que desea dar de baja.
			</span>
		</form>
		<br/>
		<button ng-click="deleteAdmin(); showAdmins()" class="btn btn-danger">Dar de baja</button> {{deleteAdminStatus}}
		<br/>
		<br/>
		<!-- delete Client -->
		<form name="deleteClientForm" novalidate>
			Cliente: <input type="text" name="clientEmailToDelete" ng-model="clientEmailToDelete" ng-required="true" class="form-control"/>
			<span class="error-message" ng-show="deleteClientForm.clientEmailToDelete.$dirty && deleteClientForm.clientEmailToDelete.$error.required">
				Por favor introduzca el email del cliente que desea dar de baja.
			</span>
		</form>
		<br/>
		<button ng-click="deleteClient()" class="btn btn-danger">Dar de baja</button> {{deleteClientStatus}}
	</p>
</div>