<div class="container">
	<!-- Template for the main page an HR admin would see. It displays the Salesmen admin accounts that are available, and has an option to add more. -->
	<h3>
		Administrador de Recursos Humanos
	</h3>
	<p>
		Aquí podrás ver a los empleados registrados como Vendedores, y remover o agregar empleados a la lista.
	</p>
	<p>
		Empleados:
		<ul>
			<li>{{employee}}<button ng-click="fetchEmployee()">Ir al perfil</button></li>
			<li>Should continue dynamically...</li>
		</ul>
	</p>
</div>