<div class="container">
	<!-- Template for the user profile. It shows personal info (name, lastname, email, change password, address, credit cards, cart, and number of bought items.) -->
	<h3>
		Mi perfil
	</h3>
	<p>
		Aquí podrás ver y editar la información de tu perfil y tus compras.
	</p>
	<p>
		<h4>Mi perfil</h4>
		Para editar información, puedes rellenar los campos y hacer clic en 'Guardar cambios'.
		<form name="user_login_form" novalidate>
			<!-- Maybe change input to EMAIL? -->
			Nombre: {{prev_clientName}} <br/>
			<input type="text" name="clientName" ng-model="clientName" />
			<br/>
			Apellidos: {{prev_clientLastName}} <br/>
			<input type="text" name="clientLastName" ng-model="clientLastName" />
			<br/>
			Profile picture: {{prev_clientProfilePicture}} <br/>
			<input type="text" name="clientProfilePicture" ng-model="clientProfilePicture" />
			<br/>
			Dirección: <br/>
			Calle: {{prev_clientAddressStreet}} <br/>
			<input type="text" name="clientAddressStreet" ng-model="clientAddressStreet" />
			<br/>
			Número: {{prev_clientAddressNumber}} <br/>
			<input type="text" name="clientAddressNumber" ng-model="clientAddressNumber" />
			<br/>
			Código postal: {{prev_clientAddressPC}} <br/>
			<input type="text" name="clientAddressPC" ng-model="clientAddressPC" />
			<br/>
			Estado: {{prev_clientAddressState}} <br/>
			<input type="text" name="clientAddressState" ng-model="clientAddressState" />
			<br/>
			Ciudad: {{prev_clientAddressCity}} <br/>
			<input type="text" name="clientAddressCity" ng-model="clientAddressCity" />
			<br/>
			Nueva contraseña: <input type="password" name="clientPassword" ng-model="clientPassword" />
			<br/>
			Repetir contraseña: <input type="password" name="clientPasswordRepeat" ng-model="clientPasswordRepeat" />
			<br/>
		</form>
		<button ng-click="saveClientChanges()">Guardar cambios</button> <br/><br/>
		Cuenta de correo: {{clientEmail}} <br/>
		Verificado: {{clientVerified}}
	</p>
	<p>
		<h4>Mis compras</h4>
		<p>
			Número total de compras: {{clientTotalPurchases}} <br/>
			<button ng-click="loadShoppingCart()">Mi carrito de compras</button>
		</p>
	</p>
</div>