<div class="row">
	<div class="col-xs-12 col-md-4 grid" >
		<img ng-src="{{rowElement[0].image}}" style="align-content: center;" alt="No image available." class="img-responsive img-thumbnail"/> 
		<br/>
		<h5>{{rowElement[0].name}}</h5> 
		<br/>
		<p>${{rowElement[0].price}}</p>
	</div>
	<div class="col-xs-12 col-md-4 grid" >
		<img ng-src="{{rowElement[1].image}}" style="align-content: center;" alt="No image available." class="img-responsive img-thumbnail"/> 
		<br/>
		<h5>{{rowElement[1].name}}</h5> 
		<br/>
		<p>${{rowElement[1].price}}</p>
	</div>
	<div class="col-xs-12 col-md-4 grid" >
		<img ng-src="{{rowElement[2].image}}" style="align-content: center;" alt="No image availble." class="img-responsive img-thumbnail"/> 
		<br/>
		<h5>{{rowElement[2].name}}</h5> 
		<br/>
		<p>${{rowElement[2].price}}</p>
	</div>
</div>