<!--product_analysis.html-->
<p>
    <canvas id="doughnut" class="chart chart-doughnut"
  		chart-data="bestSellersData" chart-labels="bestSellersLabels"></canvas>
		<canvas id="bar" class="chart chart-bar"
  		chart-data="ageRangeData" chart-labels="ageRangeLabels"</canvas>
		<canvas id="radar" class="chart chart-radar"
  		chart-data="salesPerHourData" chart-labels="salesPerHourLabels"></canvas> 
</p>

<!--
		$scope.bestSellersData = [];
		$scope.bestSellersLabels = [];
		$scope.ageRangeData = [];
		$scope.ageRangeLabels = []
		$scope.salesPerHourData = [];
		$scope.salesPerHourLabels = [];

		
-->
