<div>
	<!-- Template for the user profile. It shows personal info (name, lastname, email, change password, address, credit cards, cart, and number of bought items.) -->
	<h3>
		Mi perfil
	</h3>
	<p>
		Aquí podrás ver y editar la información de tu perfil
	</p>
	<p>
		<form name="user_login_form" novalidate>
			<!-- Maybe change input to EMAIL? -->
			Usuario (Admin): <input type="text" name="admin" ng-model="admin" ng-required="true"/>
			<span class="error-message" ng-show="user_login_form.admin.$dirty && user_login_form.admin.$error.required">
				Por favor introduzca su usuario de administrador.
			 </span>
			 <br/>
			 <br/>
			 Contraseña: <input type="text" name="password" ng-model="password" ng-required="true"/>
			 <span class="error-message" ng-show="user_login_form.password.$dirty && user_login_form.password.$error.required">
			 	Por favor introduzca su contraseña.
			 </span>
		</form>
	</p>
</div>