div.grid {
	/* Grid style for home page product display. */
	/*
	border-style: solid;
	border-width: 1px;
	border-color: DarkSlateGrey;
	border-radius: 5px;
	*/
	padding: 30px 30px 30px 30px;
	background-color: White;
	text-align: center;
}
img.grid {
	height: 200px;
	max-width: 100%;
	width: auto;
	text-align: center;
}
img.profilePicture {
	height: 50px;
	max-width: 50px;
	width: auto;
}
body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.bottom{
  border-bottom: 1px solid #757070;
  margin-bottom: 2%;
}

.img{    
  vertical-align: middle;  
}

.name{	
	margin-top: 2em;
	text-align: center;
}

.price{
	padding-bottom: 1em;
}

.price h3{
	display: inline;
}

.price p{
	display: inline;
	font-size: 1.5em;		
}

.available{
	color: #00b300;
	font-size: 2em;	
}

.unavailable{
	color: red;
	font-size: 2em;	
}

.cart_section{
	align-items: center;
	align-content: center;
	text-align: center;
	border-color: #757070;
	border-width: 1.2px;
	border-style: solid;
	border-radius: 15px;
}

.box-content{
	margin: 1em;
}

.address-section{
	text-align: left;
}

textarea {
   resize: none;
}

.main-content{
	margin-top: 2em
}